* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding-block: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
}

.para {
    font-size: 1.5rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 6%;
    margin-top: 18px;
}

.card div {
    background-color: rgb(232, 228, 228);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5%;
    width: 50%;
    height: 30vh;
}

.icon {
    background: rgb(126, 212, 246);
    width: 10%;
    margin: 8px;
}

.icons {
    width: 15%;
    margin: 8px;
}

h2 {
    font-size: 1.6rem;
    padding-bottom: 7px;
}

.card div p {
    line-height: 20px;
    word-spacing: 5px;
    font-size: 1.2rem;
}

@media (max-width: 890px) {
    .main {
        padding-block: 25px;
        width: 90%;
    } 

    .main h1 {
        font-size: 3.4rem;
    }

    .para {
        font-size: 2rem;
    }

    .card {
        gap: 3%;
    }

    .card div {
        padding: 15px;
        width: 57%;
        height: 32vh;
    }

    h2 {
        font-size: 1.9rem;
    }

    .icon {
        width: 20%;
    }

    .icons {
        width: 20%;
    }

    .card div p {
        line-height: 22px;
        word-spacing: 5px;
        font-size: 1.8rem;
    }
}

@media (max-width: 490px) {
    .card {
        display: block; 
    }

    .card div {
        width: 100%;
        height: 32vh;
        margin-bottom: 8%;
    }

    .para {
        padding-top: 10px;
    }

    .icon {
        width: 15%;
    }

    .icons {
        width: 20%;
    }

}